<div class="formContainer container-fluid">
  <h2 class="text-center">Upload a new Quote</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #goalForm='ngForm'>
  <br>
      <div class="form-group">

          <label for="name">Quote</label>
          <input type="text" class="form-control" id="quoteName" [(ngModel)]="newQuote.quoteName" name="quoteName" #quoteName="ngModel" required>
          <!-- Testing to see if we get any data -->
          <p [hidden]="quoteName.valid || quoteName.pristine" class="text-danger">Name is required</p>
           {{newQuote.quoteName}}
      </div>
      <br>
      <div class="form-group">

          <label for="author">Author</label>
          <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
          <p [hidden]="author.valid || author.pristine" class="text-danger">Author name is required</p>

      </div>
       <br>
      <div class="form-group">

          <label for="yourname">Your Name</label>
          <input type="text" class="form-control" id="yourName" [(ngModel)]="newQuote.editor" name="editor" #editor="ngModel" required>
          <p [hidden]="editor.valid || editor.pristine" class="text-danger">Your name is required</p>

      </div><br>
      <button type="submit" class="btn btn-success">Add Quote</button>


  </form>
</div>